@media (min-width: 800px) {
  .container {
    width: 100%;
    /* width: 1560px; */
  }
}

#promo .col-lg-12 {
  padding: 0 22px 10px 22px;
}

#promo .carousel {
  margin-top: -2px;
}

.col-lg-3 {
  padding: 0 7px;
}

.text-center {
  text-align: center;
}

/* ----------------------------------------------------------- */
#products {
  padding: 0 0 60px 0;
  min-height: 100vh;
}

#products .col {
  background: rgba(19,19,4,.04);
  padding: 0px;
  min-height: 500px;
  position: relative;
}

#products .thumbnail {
  display: inline-block;
  padding: 0;
  border: none;
  margin: 8px;
  background: none;
}

#products .thumbnail:hover {
  border: 1px solid #4f5965;
  border-radius: 3px;
}

#products .thumbnail .caption {
  padding: 0;
  margin: 12px 0 4px 0;
  display: inline-block;
  color: #111;
  font-size: 13px;
}

#products .header {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  top: 0;
  padding: 17px 0 17px;
  font-size: 31px;
  color: #555;

}

#products .header a{
  color: #555;
}
#products .header a:hover {
  color: #c45500;
}

#products .content {
  padding: 0px 0 30px 0;
}

#products .content h3{
  padding: 0px 0px 0px 5px;
}

#products .content ul{
  list-style: square;
}


#products .footer {
  position: absolute;
  text-align: left;
  bottom: 0;
  border-top: 1px solid #e7e7e7;
  width: 90%;
  padding: 17px 5px 17px;
  font-size: 13px;
  color: #555;
}


/* ----------------------------------------------------------- */
#products #welcome  {
  line-height: 20px;
}

#products #amazon-basics  {
  line-height: 20px;
}

#products #amazon-basics img {
  max-height: 90px;
}

#products #updates  {
  line-height: 20px;
}

#products #ads  {
  line-height: 20px;
  text-align: center;
}

#products #ads img {
  max-width: 100%;
}
